---
// Component Imports
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Home/Header.astro';
import LastestPosts from '../components/Home/LatestPosts.astro';
import ContactPostcode from '../components/Home/ContactPostcard.astro';


// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let title = 'Bradley Taylor | Web Engineer';
let description = 'Bradley is a web engineer focussed on building performant, accessible and pleasing high-quality web experiences.';
let permalink = 'https://brad-taylor.co.uk/';

// Data Fetching: List all Markdown posts in the repo.
let allPosts = Astro.fetchContent('./posts/*.md');
allPosts = allPosts.sort((a, b) => new Date(b.publishDate) - new Date(a.publishDate));
---
<html lang="en">
	<head>
		<BaseHead title={title} description={description} permalink={permalink} />
	</head>

	<body>
		<Header>
            <h1>Hi, I'm <strong>Bradley</strong></h1>
            <p>I build high-quality web experiences that are performant, accessible and pleasing.</p>
        </Header>
		<div class='sand'>
			<LastestPosts allPosts={allPosts} />
            <ContactPostcode />
		</div>
	</body>
</html>

<style>
.sand {
    background-color: #f6dc86;
}
.sand::after {
    content: "\00a0";
}
</style>