---
// Component Imports
import Nav from '../Nav.astro';
---
<header>
    <Nav />
    <div class='biolines'>
        <h1>Hi, I'm <strong>Bradley</strong></h1>
        <p>I build high-quality web experiences that are performant, accessible and pleasing.</p>
    </div>
</header>

<style>
header {
    background: rgb(66,212,237);
    background: linear-gradient(180deg, rgb(0, 43, 127) 0%, rgb(8, 63, 141) 40%, #0693e388 100%);
    background: linear-gradient(180deg, rgba(0,43,127,1) 0%, rgba(8,63,141,1) 40%, rgba(66,212,237,1) 100%);
    color: white;
    padding: 0 2rem;
}
.biolines {
    text-align: center;
}
.biolines p {
    font-size: 2rem;
    max-width: 550px;
    margin: 0 auto;
    line-height: 1.4;
}

h1 {
    font-family: 'Lobster', sans-serif;
    font-size: 6rem;
    margin-bottom: 4rem;
}
h1 strong {
    color: #ffbf00;
}

@media (max-width: 801px) {
    .biolines {
        padding: 60px 0;
    }
}
@media (min-width: 800px) {
    header {
        height: 100vh;
    }
    .biolines {
        position: relative;
        top: 50%;
        transform: translate(0, -50%);
    }
    h1 {
        font-size: 8rem;
    }
    .biolines p {
        font-size: 2.5rem;
    }
}
</style>