---
export interface Props {
  post: any;
}

const { post } = Astro.props;
---
<article class="post-preview">
    <div class='post-meta'>
        <p class="publish-date">{post.publishDate}</p>
        {post.external ? <p class='post-external'>External Post</p> : null}
    </div>

    <a href={post.external ? post.external : post.url} class='post-title'>{post.title}</a>
    <p class='post-desc'>{post.description}</p>
</article>

<style>
.post-preview {
    background: #fff3ca;
    padding: 2.5rem;
    position: relative;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #b3ac8a;
    transition: 0.1s ease;
}
.post-preview:hover {
    transform: scale(1.02) translateY(-4px);
}
.post-title {
    font-size: 3rem;
    font-weight: bold;
    color: inherit;
    text-decoration: none;
    line-height: 1.1;
    margin-bottom: 1rem;
    display: inline-block;
}
.post-title::after {
    content: "\00a0";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}
.post-desc {
    font-size: 1.6rem;
    line-height: 1.4;
}

.post-meta {
    margin-bottom: 1rem;
}
.publish-date,
.post-external {
    display: inline-block;
    font-size: 1.4rem;
}
.publish-date + .post-external::before {
    content: "\00a0";
    background: currentColor;
    border-radius: 50%;
    display: inline-block;
    width: 5px;
    height: 5px;
    margin: 0 6px;
    position: relative;
    top: 4px;
    color: #333;
}

@media (max-width: 801px) {
    .post-preview {
        margin-bottom: 2rem;
    }
}
</style>
