<nav>
    <ul>
        <li>
            <a href='/about'>About</a>
        </li>
        <li>
            <a href='/#posts'>Posts</a>
        </li>
        <li>
            <a href='https://twitter.com/_bradleyt'>Twitter</a>
        </li>
        <li>
            <a href='https://github.com/braders/'>Github</a>
        </li>
        <li>
            <a href='hello@brad-taylor.co.uk'>Email</a>
        </li>
    </ul>
</nav>

<style>
nav {
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 30px;
    padding-right: 30px;
}
nav ul {
    list-style: none;
}
nav li {
    display: inline-block;
    padding: 0 1.8rem;
}
nav a {
    text-decoration: none;
    color: white;
    font-size: 1.8rem;
    font-weight: bold;
    text-shadow: 1px 1px 2px #000;
    line-height: 1.5    ;
}
nav a:hover,
nav a:focus {
    border-bottom: 2px solid white;
}
</style>